$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

body, html {
    font-family: "Roboto", sans-serif;
}

#app {
  height: 100vh;
  width: 100vw;
}

#notes-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba( $black, .1 );
}

#tool-bar {
  width: 50vw;
  background-color: rgba( $black, .4 );
}

.note {
  flex-basis: 140px;
  background-color: rgba( $black, .2 );

  .note-content-container {
    min-height: 100px;
  }

  .content {
    // style markdown here!
  }
}