$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#app {
  border: 1px solid red;
  height: 100vh;
  width: 100vw;
}

#notes-list {
  border: 1px solid green;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgba( $black, .1 );
}

#tool-bar {
  border: 1px solid blue;
  width: 50vw;
  background-color: rgba( $black, .4 );
}

.note {
  flex-basis: 200px;
  background-color: rgba( $black, .2 );

  .note-content {
    min-height: 100px;
  }
}